<h3>Browse Our Arbitrators</h3>

<% @arbitrators.each do |arbitrator| %>
    <ul>
        <li><%= arbitrator.name %></li>
        <li><%= truncate(arbitrator.description, length: 200) { link_to "View Profile", arbitrator } %></li>
    </ul>
<% end %>
