<section>
    <div class="container">
        <h1>User Index</h1>
        <% @users.each do |user| %>
            <ul>
                Name: <%= link_to(user.first_name, user) %>
            </ul>
            <hr>
        <% end %>
    </div><!-- /.container -->
</section>


