<section class="wrapper-lg bg-highlight">
    <div class="container">
        <h1>User Index</h1>
        <br class="spacer-lg">
        <% @users.each do |user| %>
            <ul>
                Name: <%= link_to(user.name, user) %>
                <br>
                Email: <%= user.email %>
            </ul>
            <hr>
        <% end %>
    </div><!-- /.container -->
</section>


