<section class="wrapper-lg bg-highlight">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-sm-offset-2">
                <h2>A Little Bit <span class="text-muted">About Us</span></h2>
                <p>As well as being the first and only Bitcoin real estate website, CoinHome provides a platform for using multi-signature transaction and a marketplace for Bitcoin arbitration services. We do not offer arbitration services ourselves, nor we are a party to any of the transactions conducted using our service.</p>
                <hr>
                <h2>Is This an Escrow?</h2>
                <p>No. Escrow services requires the parties to deposit the funds into an escrow, where the service provider has full control over them. Because of that, escrows are strictly government regulated and requires licensing, which raises the costs associated with operating an escrow.

                With Bitcoin's multi-signature transactions, the service provider never has full control over the funds. He provides dispute resolution and arbitration services, which fundamentally provides the same value to the end-users but does not require adhering to such strict regulations - making it easier to operate such services and lowers the costs for the arbitrator and the end-users.</p>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>