<section class="wrapper-lg bg-highlight">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-sm-offset-2">
                <h2>What Is <span class="text-muted">Arbitration?</span></h2>
                <p>Arbitration is a dispute resolution mechanism where the arbitrator, an independent trusted third party, resolves disputes between two transacting parties, typically a buyer and a seller.

                The arbitrator is chosen ahead of time, and is to be agreed upon by both the buyer and the seller. In case of a dispute, the parties can ask the arbitrator to intervene, mediate the dispute and give his ruling.</p>
                <hr>
                <h2>How Does Bitcoin Arbitration Work?</h2>
                <p>Bitcoin multi signature transactions allows to make payments into a deposit that requires the approval of m-of-n parties in order to release it.

                For arbitration, a 2-of-3 multisig address is created with the buyer, seller and arbitrator. The buyer deposits the payment to that address, and releasing it requires the approval of two of these parties.

                When the transaction ends well and the buyer is satisified, the buyer and the seller can sign a transaction together that releases the payment from the multisig address to the seller.

                In case of a dispute, both parties can contact the arbitrator, explain their side of the story and ask him to approve a transaction that releases the payment in the manner they find fair.

                The arbitrator can only approve a transaction that is signed by either the buyer or the seller, and cannot control the funds otherwise.</p>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>



