<section class="wrapper-lg bg-highlight">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3">
                <h1>Thanks for contacting us!</h1>
                <hr>
                <h3>We'll be in touch soon</h3>
                <hr>
                <p><%= link_to('Back to Properties', properties_path ) %></p>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>