<section class="wrapper-lg bg-highlight">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-sm-offset-2">
                <h2>Oh no... <span class="text-muted">We've got ourselves into a pickle</span></h2>
                <p>Terribly sorry old chap, but we can't find the page you're looking for.</p>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>