/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import 'bootstrap.css'

/* apply a natural box layout model to all elements */
/**, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
 }

body {
    color: #6d6d6d;
    line-height: 1em;
    font-size: 0.9em;
    font-family: 'Raleway';
}

.nav {
    background-color: #fff;
    padding: 2em 0 0 0;
}

ul.nav  {
    list-style: none;
    height: 70px;
    margin: 0;
}    

ul.nav li {
    display: inline;
    margin: 25px 0 25 0;
}        

ul.nav li:hover {
    background-color: #FFFAFA;
}        

ul.nav li a {
    text-decoration: none;
    color: #6d6d6d;
    margin: 1.5em;
    }

ul.nav li a:hover {
    color: #268C82;
    background-color: #FFFAFA;
}*/

/*** Image classes ***/

img.thumb {
    width: 150px;
    height: 100px;
}

img.medium {
    width: 300px;
    height: 200px;
}

      